@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --background-color-global: rgb(179, 179, 179);
    --header-footer-color: rgb(97, 97, 97);
    font-family: 'Righteous', cursive;
    font-size: 1rem;
}

body {
    background-color: var(--background-color-global);
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-color);
    color: white;
    height: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.link-buttons {
    display: flex;
    flex-direction: column;
}

.links button {
    background-color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    text-align: center;
    margin: 4px;
}

#create-account-btn {
    background-color: rgb(190, 73, 190);
    color: white;
}

button {
    background-color: white;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    margin: 4px;
    width: 100px;
}

button:hover {
    background-color: aqua;
}

button:active {
    background-color: skyblue;
    border: 2px solid black;
    padding: 11px;
}

input {
    border-radius:4px;
    margin: 4px;
    width: 200px;
    height: 24px;
    border: 4px solid black;

}

input:focus {
    border: 4px solid purple;
}


input:valid {
    border-color: lightgreen;
}

input:invalid {
    border-color: red;
}

.main {
    display: flex;
}

.left-container {
    display: flex;
    width: 30vw;
    height: 90vh;
}

.right-container {
    display: flex;
    height: 90vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.background-image {
    display: flex;
    width: 100%;
    height: 100%; /* specify a height for the div */
    background-image: url('../img/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.form-title {
    display: flex;
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.411);
    width: 30vw;
    align-items: center;
    justify-content: center;
    top: 25vh;
}

.image-credit {
    display: flex;
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.411);
    width: 30vw;
    align-items: center;
    justify-content: center;
    bottom: 0;
}


.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.form-container {
    display: flex;
    border: 12px solid black;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: nowrap;
    height: 25vh;
}

#form-left {
display: flex;
}

#form-right {
    display: flex;
}

fieldset {
    display: flex;
    border: none;
    box-shadow: 12px black;
    border-radius: 4px;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
    padding: 12px 0;
    margin: 0;
    color: white;
    font-size: 0.6rem;
}