@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --background-color-global: rgb(179, 179, 179);
    --header-footer-color: rgb(97, 97, 97);
    --button-hover-color: rgb(121, 194, 253);
    --button-active-color: rgb(53, 164, 255);

    font-family: 'Righteous', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(0.5rem, 1rem, 2rem);
}

body {
    background-color: var(--background-color-global);
    margin: 0;
    padding: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 0 50px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-color);
    color: white;
    height: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    color: white;
}

#links-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#links-nav li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    border: none;
    border-radius: 12px;
    text-align: center;
    margin: 4px;
}

#links-nav a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    background-color: white;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 12px;
    text-align: center;
    margin: 4px;
}


#create-account-btn {
    background-color: rgb(190, 73, 190);
    color: white;
    margin-top: 5%;
    width: 150px;
}

#links-nav a:hover {
    background-color: var(--button-hover-color);
}

#links-nav a:active {
    background-color: var(--button-active-color);
}

button {
    background-color: white;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    margin: 4px;
    width: 100px;
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-active-color);
    border: 2px solid black;
    padding: 11px;
}

input {
    border-radius:4px;
    margin: 8px 0;
    padding: 4px;
    width: 100%;
    height: 24px;
    border: 1px solid black;
}

input:focus {
    border: 1px solid purple;
}


input:valid {
    border-color: lightgreen;
}

input:invalid {
    border-color: red;
}

.main {
    display: flex;
}

#left-container {
    display: flex;
    width: 30vw;
    height: 90vh;
}

#right-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#about {
    display: flex;
    width: 90%;
}

.background-image {
    display: flex;
    width: 100%;
    height: 100%; /* specify a height for the div */
    background-image: url('../img/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.form-title {
    display: flex;
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.411);
    width: 30vw;
    align-items: center;
    justify-content: center;
    top: 25vh;
}

.image-credit {
    display: flex;
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.411);
    width: 30vw;
    align-items: center;
    justify-content: center;
    bottom: 7%;
}


.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    border-radius: 8px;
    padding: 1%;
    margin: 1%;
    box-shadow: 2px 2px 5px black;
}

.form {
    display: flex;
    flex-direction: row;
    gap: 1%;
    background-color: white;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.form-group {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    width: 50%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
    padding: 12px 0;
    margin: 0;
    color: white;
    font-size: 0.6rem;
}